/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Color crema */
    color: #333;
    margin: 0;
    padding: 0;
}
body #login-container{

    display: grid;
    place-items: center;
}
#app-container nav {
    background-color: #e8d5b5; /* Color hueso */
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#app-container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#app-container nav ul li {
    display: inline-block;
    margin-right: 15px;
}

#app-container nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: inline-block;
}

#app-container nav ul li a:hover {
    background-color: #d0b8a3; /* Color crema más oscuro */
    border-radius: 5px;
}

#app-container nav ul li ul {
    display: none;
    position: absolute;
    background-color: #e8d5b5; /* Color hueso */
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

#app-container nav ul li:hover ul {
    display: block;
}

main {
    padding: 20px;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #d0b8a3; /* Color crema más oscuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #b39a8f; /* Color hueso más oscuro */
    transition: background-color 0.3s ease;
}

section {
    margin-top: 20px;
}
#app-container{
    display: none;
}
#login-container {
    /* margin-top: 10rem; */
    padding: 4px;
}
#loginForm{
    padding-right: 40px;
}

#app-container main section form{
    padding-right: 40px;
}

#contenedor{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 90%;
}
.navegador{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
header nav a{
    text-decoration: none;
    list-style: none;
    
}
.sign-in{
    display: flex;
    justify-content: space-around;
}

.Home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Home span{
    font-size: 14px;
}

.Home h1{
    font-family: "Averta",sans-serif;
    font-size: 6vw;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px #CECAE3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin-top: 0px;
    text-transform: uppercase;
}

#contenedor{
    padding-left: 54px;
}