<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Encuestas</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#" id="homeLink">Inicio</a></li>
            <li>
                <a href="#">Encuestas</a>
                <ul>
                    <li><a href="#create-survey">Crear Encuesta</a></li>
                    <li><a href="#list-surveys">Lista de Encuestas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Capítulos</a>
                <ul>
                    <li><a href="#createChapterForm">Crear Capítulo</a></li>
                    <li><a href="#updateChapterForm">Actualizar Capítulo</a></li>
                    <li><a href="#deleteChapterForm">Eliminar Capítulo</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Preguntas</a>
                <ul>
                    <li><a href="#createQuestionForm">Crear Pregunta</a></li>
                    <li><a href="#updateQuestionForm">Actualizar Pregunta</a></li>
                    <li><a href="#deleteQuestionForm">Eliminar Pregunta</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Opciones de Respuesta</a>
                <ul>
                    <li><a href="#createResponseOptionForm">Crear Opción de Respuesta</a></li>
                    <li><a href="#updateResponseOptionForm">Actualizar Opción de Respuesta</a></li>
                    <li><a href="#deleteResponseOptionForm">Eliminar Opción de Respuesta</a></li>
                </ul>
            </li>
            <li><a href="#profile">Perfil</a></li>
            <li><a href="#login" id="loginLink">Login</a></li>
        </ul>
    </nav>

    <main>
        <section id="home">
            <h1>Bienvenido</h1>
            <p>Bienvenido a la aplicación de gestión de encuestas.</p>
        </section>
        
        <section id="login" style="display: none;">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="username">Nombre:</label>
                <input type="string" id="username" required>
                <label for="loginPassword">Contraseña:</label>
                <input type="password" id="loginPassword" required>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </section>

        <section id="profile" style="display: none;">
            <h2>Perfil</h2>
            <p id="profileName">Nombre: <span id="profileNameValue"></span></p>
        </section>

        <!-- CRUD para Encuestas -->
        <section id="create-survey">
            <h2>Crear Encuesta</h2>
            <form id="createSurveyForm">
                <label for="name">Nombre:</label>
                <input type="text" id="name" required>
                <label for="description">Descripción:</label>
                <input type="text" id="description" required>
                <button type="submit">Crear</button>
            </form>
        </section>
        
        <section id="list-surveys">
            <h2>Lista de Encuestas</h2>
            <button onclick="fetchSurveys()">Actualizar Lista</button>
            <ul id="surveyList"></ul>
        </section>
        
        <section id="update-survey">
            <h2>Actualizar Encuesta</h2>
            <form id="updateSurveyForm">
                <label for="updateId">ID:</label>
                <input type="number" id="updateId" required>
                <label for="updateName">Nombre:</label>
                <input type="text" id="updateName" required>
                <label for="updateDescription">Descripción:</label>
                <input type="text" id="updateDescription" required>
                <button type="submit">Actualizar</button>
            </form>
        </section>
        
        <section id="delete-survey">
            <h2>Eliminar Encuesta</h2>
            <form id="deleteSurveyForm">
                <label for="deleteId">ID:</label>
                <input type="number" id="deleteId" required>
                <button type="submit">Eliminar</button>
            </form>
        </section>

        <!-- CRUD para Capítulos -->
        <section id="createChapterForm">
            <h2>Crear Capítulo</h2>
            <form>
                <label for="surveyId">ID de Encuesta:</label>
                <input type="number" id="surveyId" required>
                <label for="chapterNumber">Número:</label>
                <input type="text" id="chapterNumber" required>
                <label for="chapterTitle">Título:</label>
                <input type="text" id="chapterTitle" required>
                <button type="submit">Crear</button>
            </form>
        </section>

        <section id="updateChapterForm">
            <h2>Actualizar Capítulo</h2>
            <form>
                <label for="updateId">ID:</label>
                <input type="number" id="updateId" required>
                <label for="updateSurveyId">ID de Encuesta:</label>
                <input type="number" id="updateSurveyId" required>
                <label for="updateChapterNumber">Número:</label>
                <input type="text" id="updateChapterNumber" required>
                <label for="updateChapterTitle">Título:</label>
                <input type="text" id="updateChapterTitle" required>
                <button type="submit">Actualizar</button>
            </form>
        </section>

        <section id="deleteChapterForm">
            <h2>Eliminar Capítulo</h2>
            <form>
                <label for="deleteChapterId">ID:</label>
                <input type="number" id="deleteChapterId" required>
                <button type="submit">Eliminar</button>
            </form>
        </section>

        <!-- CRUD para Preguntas -->
        <section id="createQuestionForm">
            <h2>Crear Pregunta</h2>
            <form>
                <label for="questionSurveyId">ID de Encuesta:</label>
                <input type="number" id="questionSurveyId" required>
                <label for="questionChapterId">ID de Capítulo:</label>
                <input type="number" id="questionChapterId" required>
                <label for="questionNumber">Número:</label>
                <input type="text" id="questionNumber" required>
                <label for="responseType">Tipo de Respuesta:</label>
                <input type="text" id="responseType" required>
                <label for="commentQuestion">Comentario:</label>
                <textarea id="commentQuestion" required></textarea>
                <label for="questionText">Texto de la Pregunta:</label>
                <textarea id="questionText" required></textarea>
                <button type="submit">Crear</button>
            </form>
        </section>

        <section id="updateQuestionForm">
            <h2>Actualizar Pregunta</h2>
            <form>
                <label for="updateQuestionId">ID:</label>
                <input type="number" id="updateQuestionId" required>
                <label for="updateResponseType">Tipo de Respuesta:</label>
                <input type="text" id="updateResponseType">
                <label for="updateCommentQuestion">Comentario:</label>
                <textarea id="updateCommentQuestion"></textarea>
                <label for="updateQuestionText">Texto de la Pregunta:</label>
                <textarea id="updateQuestionText"></textarea>
                <button type="submit">Actualizar</button>
            </form>
        </section>

        <section id="deleteQuestionForm">
            <h2>Eliminar Pregunta</h2>
            <form>
                <label for="deleteQuestionId">ID:</label>
                <input type="number" id="deleteQuestionId" required>
                <button type="submit">Eliminar</button>
            </form>
        </section>

        <!-- CRUD para Opciones de Respuesta -->
        <section id="createResponseOptionForm">
            <h2>Crear Opción de Respuesta</h2>
            <form>
                <label for="responseOptionCategoryId">ID de Categoría:</label>
                <input type="number" id="responseOptionCategoryId" required>
                <label for="responseOptionQuestionId">ID de Pregunta:</label>
                <input type="number" id="responseOptionQuestionId" required>
                <label for="optionValue">Valor de Opción:</label>
                <input type="text" id="optionValue" required>
                <label for="commentResponse">Comentario:</label>
                <textarea id="commentResponse" required></textarea>
                <label for="optionText">Texto de Opción:</label>
                <textarea id="optionText" required></textarea>
                <button type="submit">Crear</button>
            </form>
        </section>

        <section id="updateResponseOptionForm">
            <h2>Actualizar Opción de Respuesta</h2>
            <form>
                <label for="updateResponseOptionId">ID:</label>
                <input type="number" id="updateResponseOptionId" required>
                <label for="updateOptionValue">Valor de Opción:</label>
                <input type="text" id="updateOptionValue">
                <label for="updateCommentResponse">Comentario:</label>
                <textarea id="updateCommentResponse"></textarea>
                <label for="updateOptionText">Texto de Opción:</label>
                <textarea id="updateOptionText"></textarea>
                <button type="submit">Actualizar</button>
            </form>
        </section>

        <section id="deleteResponseOptionForm">
            <h2>Eliminar Opción de Respuesta</h2>
            <form>
                <label for="deleteResponseOptionId">ID:</label>
                <input type="number" id="deleteResponseOptionId" required>
                <button type="submit">Eliminar</button>
            </form>
        </section>
    </main>

    <script src="js/scripts.js"></script>
    <script src="./apps/configChapters.js"></script>
    <script src="./apps/configOpQuestions.js"></script>
    <script src="./apps/configQuestions.js"></script>
    <script src="./apps/configSurveys.js"></script>
    <script src="./apps/login.js"></script>
    <script src="./apps/profile.js"></script>
</body>
</html>
